.chessboard {
    width: 80vh;
    height: 80vh;
    margin: 4% auto 0;
    border: 2px solid black;
}
.chessboard div {
    display:inline;
    width:10vh;
    height: 10vh;
}
.square_row div{
    float:left;
}
.black{
    float:left;
    width:10vh;
    height: 10vh;
    background-color: black;
}
.grey{
    float:left;
    width:10vh;
    height: 10vh;
    background-color: #808080;
}
.white{
    float:left;
    width:10vh;
    height: 10vh;
    background-color: white;
}
.circle
{
    
    content:url("circle.png");
    position:inherit;
    width:99%;
    height:99%;
    overflow: hidden;
}
.circlew
{
    
    content:url("circlew.png");
    position:inherit;
    width:99%;
    height:99%;
    overflow: hidden;

}